<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>智能家居系统</title>
    <link href="../lib/weui.min.css" rel="stylesheet" />    
    <link href="../lib/jquery-weui.min.css" rel="stylesheet" />
    <link href="../lib/bootstrap.min.css" rel="stylesheet" />
    <link href="../css/base.css" rel="stylesheet" />    
    <link href="../css/harmfulGas.css" rel="stylesheet" />
    <script src="../lib/jquery-3.2.1.min.js" ></script>
    <script src="../lib/jquery-weui.min.js" ></script>
    <script src="../lib/fastclick.js"></script>
    <script src="../lib/highcharts.js"></script>
    <script src="../lib/highcharts-more.js"></script>
    <script src="../lib/solid-gauge.js"></script>
    <script src="https://cdn.wilddog.com/sdk/js/2.5.17/wilddog-sync.js"></script>    
</head>
<body ontouchstart>
<header class='headBar'>
<span class="headTitle">室内有害气体</span>
<span class="glyphicon glyphicon-chevron-left" onclick="history.back()"></span>
<span class="glyphicon glyphicon-menu-hamburger open-popup" data-target="#harmfulGas-setting"></span>                
</header>
<div id="container-smoke" style="height:155px;"></div>
<div id="container-gas" style="height:155px;"></div>
<div id="container-methanal" style="height:155px;"></div>
<div id="harmfulGas-setting" class="weui-popup__container popup-bottom">
<div class="weui-popup__overlay"></div>
<div class="weui-popup__modal">
<div class="modal-title">
<p class="title">有害气体净化<span class="save-setting close-popup">保存</span></p>
</div>
<div>
<div class="weui-cells weui-cells_radio">
<label class="weui-cell weui-check__label" for="gas-open">                   
<div class="weui-cell__bd">
<p>开启</p>
</div>
<div class="weui-cell__ft">
<input type="radio" name="gas" class="weui-check" id="gas-open"  value="1">
<span class="weui-icon-checked"></span>
</div>
</label>
<label class="weui-cell weui-check__label" for="gas-close">
<div class="weui-cell__bd">
<p>不开启</p>
</div>
<div class="weui-cell__ft">
<input type="radio" class="weui-check" name="gas" id="gas-close" value="0">
<span class="weui-icon-checked"></span>
</div>
</label>
</div>
</div>
</div>
</div>
      <script>
        $(function() {
            FastClick.attach(document.body);
        });
      </script>
      <script src="../js/harmfulGas.js" ></script>      
</body>
</html>